@inherits LayoutComponentBase

@if (IsVisible)
{
    <div class="fixed inset-0 flex items-center justify-center bg-black/50 z-50">
        <div class="@(SizeLarge ? "card-lg" : "card-sm") relative animate-fadeIn">
            <h2 class="card-title">@Title</h2>

            <!-- Modal content gets stuffed into this div-->
            <div class="mb-6">
                @ChildContent
            </div>

            <div class="grid justify-end space-x-3 gap-4 @(SizeLarge ? "grid-cols-4" : "grid-cols-2")">
                @if(SizeLarge) {<p class="col-span-2"></p>}
                <button @onclick="Confirm" class="btn-allowance">
                    Confirm
                </button>
                <button @onclick="Hide" class="btn-secondary">
                    Cancel
                </button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public string Title { get; set; } = "Modal Title";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public bool SizeLarge { get; set; } = false;

    public void Show() => IsVisible = true;
    public void Hide()
    {
        IsVisible = false;
        OnCancel.InvokeAsync();
    }

    private void Confirm()
    {
        IsVisible = false;
        OnConfirm.InvokeAsync();
    }
}
