@page "/"
@using AllowanceApp.Blazor.Services
@using AllowanceApp.Shared.DTO
@using AllowanceApp.Blazor.Components.Cards
@inject AccountApiService AccountApi

<PageTitle>Home</PageTitle>
@if (accounts is null)
{
    <p><em>Loading...</em></p>
}
else
{

    @if (accounts.Count == 0)
    {
        <p><em>No accounts found.</em></p>
    }
    else
    {
        <div class="grid grid-cols-3">
            @foreach (var account in accounts)
            {
                <AccountCard AccountRecord="@account" OnAccountChanged="RefreshAccount"></AccountCard>
            }
        </div>
    }
}


@code {
    private List<AccountDTO>? accounts;

    protected override async Task OnInitializedAsync()
    {
        accounts = await AccountApi.GetAllAccountsAsync();
    }
    private void RefreshAccount()
    {
        StateHasChanged();
    }
}
