@using AllowanceApp.Blazor.Models
@using AllowanceApp.Blazor.Components.Widgets
@using AllowanceApp.Blazor.Services
@using Microsoft.AspNetCore.Components.Routing;

<div class="bg-gray-800">
    <p class="nav-title">Kid Allowance App 2.0!</p>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable bg-gradient-to-t from-gray-900 to-gray-800 pb-4" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex flex-col justify-between h-full ">
        <div>
            <div class="nav-item px-3">
                <NavLink href="" Match="NavLinkMatch.All" class="nav-option">
                    <NavIcon Path="home.svg" CssClass="h-10 w-10 pr-2 pt-1 fill-current text-gray-300 hover:text-white"/> Home
                </NavLink>
            </div>
            @if (Accounts is not null && Accounts.Count > 0)
            {
                @foreach (var account in Accounts)
                {
                    <div class="nav-item px-3">
                        <NavLink href="@($"/account-details/{account.ID}")" class="nav-option">
                            <NavIcon Path="child.svg" CssClass="h-10 w-10 pr-2 pt-1 fill-current text-gray-300 hover:text-white"/> @account.Name
                        </NavLink>
                    </div>
                }
            }
        </div>

        <div>
            <div class="nav-item px-3">
                <NavLink href="/Error" class="nav-option">
                            <NavIcon Path="help7.svg"  CssClass="h-10 w-10 pr-2 pt-1 fill-current text-gray-300 hover:text-white"/> How to earn points
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink href="/parent" class="nav-option">
                            <NavIcon Path="settings.svg"  CssClass="h-10 w-10 pr-2 pt-1 fill-current text-gray-300 hover:text-white"/> Settings
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink href="/Error" class="nav-option">
                            <NavIcon Path="about.svg"  CssClass="h-10 w-10 pr-2 pt-1 fill-current text-gray-300 hover:text-white"/> About
                </NavLink>
            </div>
        </div>
    </nav>
</div>

@code {
    [Parameter] public List<NavBarModel> Accounts {get; set;} = [];
}

